<section id="products" class=" padding-top-bottom">
	<div class="container">
		<header class="section-header text-center wow fadeInUp">
			<h2>Select a Website</h2>
		</header>
	</div>
	<div class="container">
		<div id="projects-container" class="row">
			<article class="design product col-xs-12 col-sm-6 col-md-4 wow fadeInUp" data-wow-delay="0.2s">
				<div class="img-box">
					<div class="hover-mask2"></div>
					<span class="product-icon icon-eye"></span>
					<%= image_tag("product1.png", class: "img-responsive project-image") %>
				</div>
				<div class="product-info col-md-12">
					<p class="project-price">$148</p>
					<div>
						<h4 class="project-title">Personal Blog</h4>
					</div>
				</div>
				<div class="sr-only project-description"  data-oldprice="$800" data-images="img/01.jpg,img/02.jpg,img/03.jpg,img/04.jpg,img/05.jpg">
					<p>1Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam sapien risus, blandit at fringilla ac, varius sed dolor. Donec augue lacus, vulputate sed consectetur facilisis, interdum pharetra ligula. Nulla suscipit erat nibh, ut porttitor nisl dapibus eu.</p>
				</div>
			</article>
			
			<article class="mock-up product col-xs-12 col-sm-6 col-md-4 wow fadeInUp" data-wow-delay="0.4s">
				<div class="img-box">
					<div class="hover-mask2"></div>
					<span class="product-icon icon-eye"></span>
					<%= image_tag("product2.png", class: "img-responsive project-image") %>							
				</div>
				<div class="product-info col-md-12">
					<p class="project-price">$148</p>
					<div>
						<h4 class="project-title">Musician/Band</h4>
					</div>	
				</div>
				<div class="sr-only project-description" data-images="img/06.jpg,img/07.jpg,img/08.jpg,img/09.jpg">
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam sapien risus, blandit at fringilla ac, varius sed dolor. Donec augue lacus, vulputate sed consectetur facilisis, interdum pharetra ligula. Nulla suscipit erat nibh, ut porttitor nisl dapibus eu.</p>
					<p>Phasellus porta eros vel lacus euismod consequat. Phasellus eleifend, nibh non feugiat hendrerit, lacus enim adipiscing eros, a pharetra erat neque eget est. Quisque vitae aliquet urna. Integer suscipit lectus eu enim porttitor fringilla. Ut blandit, urna in auctor euismod, arcu eros pharetra metus, a porta purus libero a nibh.</p>
				</div>
			</article>
			
			<article class=" icons product col-xs-12 col-sm-6 col-md-4 wow fadeInUp" data-wow-delay="0.6s">
				<div class="img-box">
					<div class="hover-mask2"></div>
					<span class="product-icon icon-eye"></span>
					<%= image_tag("product3.png", class: "img-responsive project-image") %>
				</div>
				<div class="product-info col-md-12">
					<p class="project-price">$148</p>
					<div>
						<h4 class="project-title">Web Shop</h4>
					</div>	
				</div>
				<div class="sr-only project-description" data-oldprice="$700" data-images="img/10.jpg,img/11.jpg,img/12.jpg">
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam sapien risus, blandit at fringilla ac, varius sed dolor. Donec augue lacus, vulputate sed consectetur facilisis, interdum pharetra ligula. Nulla suscipit erat nibh, ut porttitor nisl dapibus eu.</p>
					<p>Nam eget urna pellentesque nisl ultrices dapibus. Mauris accumsan vehicula nisl, sed tempus mauris facilisis eu. Donec a iaculis nisi, quis malesuada justo. Pellentesque ut enim sit amet ipsum dignissim egestas. Morbi tincidunt rhoncus urna eget placerat.</p>
				</div>
			</article>
		</div>
	</div>
</section>


<section id="orderform" class="gray-bg padding-top-bottom" ng-controller="orderController">
	<div class="container">
		<header class="section-header text-center">
			<h3>Select Features</h3>
		</header>
		<form action="index.html" method="post" novalidate id="order-form">
			<div class="row">
				<div class="col-sm-12 col-md-12">
				<table class="table">
				  <thead>
					<tr>
					  <th>Product</th>
					  <th>Unit Cost</th>
					  <th class="text-center">
					  <span class="hidden-xs">Quantity</span>
					  <span class="visible-xs">QNT</span>
					  </th>
					  <th class="text-right">Total</th>
					</tr>
				  </thead>
				  <tbody>
					<tr>
					  <td class="vert-align">Bed</td>
					  <td class="vert-align">$148</td>
					  <td class="text-center">
						<select class="form-control form-control-inline" ng-model="myBed" ng-options="opt as opt.label for opt in options"></select>
					  </td>
					  <td class="text-right vert-align">$ 0.00</td>
					</tr>							
					<tr>
					  <td class="vert-align">Nightstand</td>
					  <td class="vert-align">$148</td>
					  <td class="text-center">
						<select class="form-control form-control-inline" ng-model="myNightstand" ng-options="opt as opt.label for opt in options"></select>
					  </td>
					  <td class="text-right vert-align">$ 0.00</td>
					</tr>							
					<tr>
					  <td class="vert-align">Hammock</td>
					  <td class="vert-align">$148</td>
					  <td class="text-center">
						<select class="form-control form-control-inline" ng-model="myHammock" ng-options="opt as opt.label for opt in options"></select>
					  </td>
					  <td class="text-right vert-align">$ 0.00</td>
					</tr>
					<tr>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
					</tr>
				  </tbody>
				</table>
				</div>	

			<p class="text-center"><strong>Domain Name (?)</strong></p>
			<div class="form-group">
				<label class="control-label" >yourdomainname.com</label>
				<input name="email" placeholder="example.com" class="form-control input-lg" type="email">
			</div>	

			<p class="text-center"><strong>Enter Your Email</strong></p>			
			<div class="form-group">
				<label class="control-label" >Enter your email</label>
				<input name="email" placeholder="you@email.com" class="form-control input-lg" type="email">
			</div>	
			
			<div class="col-sm-6 col-md-6">				
				<p>
					<button name="submit" type="submit" class="btn center btn-store btn-block">Order Product</button>
				</p>
				<input type="hidden" name="submitted" id="submitted" value="true">
			</div>

		</div>
			</form>

	</div>
</section>