// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* ------------------------ portfolio ------------------------ */
.full-width-div {
  position: fixed;
  width: 100%;
  left: 0;
  background-image: url(image_path("bear.jpg"));   

}


/* ------------------------ about ------------------------ */

.portfolio-container {
  height: 100%;
  width: 100%;
  margin: 0;
}

.project-container {
  background-image: url(image_path("bear.jpg"));   
}