<footer id="main-footer" class="dark-bg light-typo">
	<div class="footer-container">
		<p class="pull-left copyright wow fadeInUp">&copy; Swakko 2015.
		</p>

		<div class="pull-right paymentMethodImg copyright wow fadeInRight">
			<a class="btn btn-store outline" href="#" data-toggle="modal" data-target=".text-modal">How it Works</a>
		</div>
	</div>
</footer>